{% extends 'base.html.twig' %}

{% block title %}FJT-BLOG {% endblock %}

{% block body %}


<div class="container" style='border: 5px; padding: 20px; background-color: #D5F5E3;' >
   
   {# <img src="https://www.periwinkle.fr/wp-content/uploads/2017/09/equipe_slider.png?x33745", style="width:550px;height:300px;"/> #}
   <img src="https://neilpatel.com/wp-content/uploads/2018/10/blog.jpg", style="width:550px;height:300px;"/>


   </center>
   <hr>

<div class="row">
   <div class="col-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos veniam voluptate eaque laborum quidem laboriosam nihil alias dolores, animi, maxime ipsa suscipit! Temporibus inventore fugiat neque. Repellat doloremque commodi nihil?</p>
    </div>
    <div class="col-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla officia neque reiciendis ipsa expedita adipisci! Fugiat animi incidunt hic aliquam, odit sapiente placeat, eos accusantium esse ratione soluta aspernatur asperiores.</p>
    </div>
    <div class="col-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam alias provident natus, assumenda nostrum vel nihil cum! Sint aliquid aliquam ex libero vitae? Rerum quaerat labore nostrum neque praesentium?</p>
    </div>
</div>
</div>
{% endblock %}